//
//  Secrets.xcconfig
//  SoundverseAI
//
//  Created by Naushad Ali Khan on 08/05/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

RAPID_API_KEY = 5ec7c32e33msh746be96bf2c576dp102633jsnf9a76f55dfd8
